.falling-stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  pointer-events: none;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  top: 50%;
  left: 50%;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgb(255, 255, 255, 0.1),
    000 8px rgb(255, 255, 255, 0.1), 0 0 20px rgb(255, 255, 255, 1);
  animation: animate 4s linear infinite;
}
.star::before {
  position: absolute;
  top: 50%;
  content: '';
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
}

@keyframes animate {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-1000px);
    opacity: 0;
  }
}

.star:nth-child(1) {
  top: 0;
  right: 100px;
  left: initial;
  animation-delay: 10;
  animation-duration: 15s;
}
.star:nth-child(2) {
  top: 0;
  right: 300px;
  left: initial;
  animation-delay: 15;
  animation-duration: 30s;
}
.star:nth-child(3) {
  top: 0;
  right: 900px;
  left: initial;
  animation-delay: 45;
  animation-duration: 45s;
}
.star:nth-child(4) {
  top: 0;
  right: 1500px;
  left: initial;
  animation-delay: 60;
  animation-duration: 35s;
}
